
#left-pic {
    float: left;
}
.right {
    float: right;
}
.jumbotron {
  background-color: black;
  color: white;
}

img {
    float: right;
}



.highlights {
  margin-top: 30px;
  margin-left: 1px;
  border: 2px solid black;
  padding: 15px;
  float: left;
  font-family: sans-serif;
  color: #337ab7;

}
.light {
    color: black;
}
h4 {
    text-align: center;
}
.courses {
    color: #337ab7;
    font-style: normal;
}
.courses:hover {
    cursor: pointer;
}
.courses h2 span {
    font-size: 15px;
}
.well {
    display: none;
    color: black;
}
img#center-pic {
    background-position: center;
}
#outpt {
    display: none;
    text-align: center;
    margin-top: 100px;
    margin-left: 400px;
    padding: 15px;
    color: #337ab7;
}
#css-sugges, #php-sugges, #c-sugges, #ruby-sugges, #java-sugges, #ios-sugges {
    display: none;
    color: #337ab7;
}
